@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --DEEP-VIOLET: #21092f;
  --PURPLISH-GREY: #8f8694;
  --LIGHT-GREY: #dfdee0;
  --WHITE: #fff;
  --ERROR-MESSAGE: #ff5050;
  --SUCCESS-MESSAGE: green;
  --BUTTON-DISABLED-BG: #8c8c8c;
  --BUTTON-HOVER-BG: hsla(278, 68%, 11%, 0.8);

  /* GRADIENTS */
  --CARD-BACK-GRAD: linear-gradient(-20deg, #fff 0%, #d2d3d9 100%);

  /* TYPOGRAPHY */
  --FF: "Space Grotesk", sans-serif;

  --BODY-S: 500 0.75rem var(--FF);
  --BODY-M: 500 0.75rem var(--FF);
  --BODY-M-LS: 0.125rem;
  --BODY-L: 500 0.875rem var(--FF);
  --BODY-L-LS: 0.125rem;
  --HEADING-L: 500 1.125rem var(--FF);
  --HEADING-XL: 500 1.75rem var(--FF);
  --HEADING-XL-LS: 0.2137rem;
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--WHITE);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5.6875rem;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* || HEADER */
.header-wrapper {
  width: 100%;
  height: 240px;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.header-container-inner {
  margin: 2rem auto 0px;
  width: 343px;
  height: 251px;
  position: relative;
}

/* || CARD-FRONT */
.card-front {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 286px;
  height: 157px;
  padding: 1.5375rem 1.3056rem 1.225rem 1.1875rem;
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  z-index: 2;
}

.brand-group {
  display: flex;
  width: 245px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8125rem;
}

.steward-logo img {
  max-width: 101px;
}

.visa-logo img {
  max-width: 46px;
}

.nfc-group {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin-bottom: 0.875rem;
}

.nfc-chip img {
  max-width: 24px;
}

.nfc-icon img {
  max-width: 13.5px;
}

.embossed {
  letter-spacing: 2px;
  background: linear-gradient(
    120deg,
    #ffffff,
    #f2f2f2,
    #e6e6e6,
    #ffffff,
    #cccccc,
    #ffffff
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    1px 1px 1px rgba(0, 0, 0, 0.4),
    -1px -1px 1px rgba(255, 255, 255, 0.7),
    2px 2px 2px rgba(0, 0, 0, 0.3),
    -2px -2px 2px rgba(255, 255, 255, 0.5);
}

.card-number {
  font: 500 1.125rem var(--FF);
  letter-spacing: 0.1375rem;
  color: var(--WHITE);
  margin-bottom: 1.0625rem;
}

.last-group {
  display: flex;
  width: 245.11px;
  justify-content: space-between;
  align-items: center;
}

.owner-name {
  font: 500 0.5625rem var(--FF);
  letter-spacing: 0.0806rem;
  color: var(--WHITE);
  text-transform: uppercase;
}

.expiry-date {
  font: 500 0.5625rem var(--FF);
  letter-spacing: 0.0806rem;
  color: var(--WHITE);
}

/* || CARD-BACK */
.card-back {
  position: absolute;
  top: 0;
  right: 0;
  width: 286px;
  height: 157px;
  border-radius: 6px;
  padding: 0.9213rem 0rem 3.9087rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: var(--CARD-BACK-GRAD);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.magnetic-strip {
  width: 100%;
  height: 34.6px;
  background-color: #2f2f2f;
  margin-bottom: 0.9613rem;
}

.signature {
  width: 230.98px;
  height: 29.74px;
  border-radius: 4px;
  padding-right: 0.6744rem;
  display: flex;
  justify-content: flex-end;
  background-color: #adb5be;
}

.cvc {
  font: 500 0.5625rem var(--FF);
  letter-spacing: 0.0806rem;
  line-height: 29.74px;
  color: var(--WHITE);
}

/* || FORM */
.card-details-form {
  width: 327px;
  min-height: 374px;
  display: flex;
  flex-flow: column;
  gap: 1.75rem;
}

.form-wrapper {
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
}

.input-title {
  font: var(--BODY-M);
  letter-spacing: var(--BODY-M-LS);
  color: var(--DEEP-VIOLET);
  margin-bottom: 0.5625rem;
  text-transform: uppercase;
}

.full-name-wrapper,
.card-num-wrapper {
  width: 327px;
}

.date-wrapper {
  width: 72px;
}

.cvc-wrapper {
  width: 164px;
}

.full-name,
.card-num,
.date-input,
.cvc-input {
  width: 100%;
  background-color: var(--WHITE);
  border: 1px solid var(--LIGHT-GREY);
  border-radius: 8px;
  padding: 0.6875rem 0rem 0.6875rem 1rem;
  font: var(--HEADING-L);
  color: var(--DEEP-VIOLET);
  caret-color: var(--DEEP-VIOLET);
}

.full-name::placeholder,
.card-num::placeholder,
.date-input::placeholder,
.cvc-input::placeholder {
  color: hsla(278, 68%, 11%, 0.25);
}

.full-name:focus,
.card-num:focus,
.date-input:focus,
.cvc-input:focus {
  outline: none;
  box-shadow: none;
}

.full-name.valid,
.card-num.valid,
.date-input.valid,
.cvc-input.valid {
  color: var(--DEEP-VIOLET);
  border: 1px solid var(--LIGHT-GREY);
  caret-color: var(--DEEP-VIOLET);
}

.full-name.invalid,
.card-num.invalid,
.date-input.invalid,
.cvc-input.invalid {
  color: var(--ERROR-MESSAGE);
  border: 1px solid var(--ERROR-MESSAGE);
  caret-color: var(--ERROR-MESSAGE);
}

.message {
  margin-top: 8px;
  font: var(--BODY-S);
  display: none;
}

.expiry-group .message {
  max-width: 152px;
}

.error-message {
  color: var(--ERROR-MESSAGE);
}

.success-message {
  color: var(--SUCCESS-MESSAGE);
}

.date-cvc-group {
  display: flex;
  gap: 11px;
}

.date-group {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-flow: row;
}

.submit-button {
  background-color: var(--DEEP-VIOLET);
  color: var(--WHITE);
  padding: 0rem 8.125rem;
  font: var(--HEADING-L);
  line-height: 53px;
  border-radius: 8px;
  border: none;
}

.submit-button:disabled {
  background-color: var(--BUTTON-DISABLED-BG);
  cursor: not-allowed;
}

.video-link:any-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  font: var(--BODY-L);
  letter-spacing: var(--BODY-L-LS);
  color: var(--DEEP-VIOLET);
  text-transform: uppercase;
  text-decoration: underline;
}

.video-icon img {
  max-width: 26px;
}

/* THANKS-HTML */
.main-thanks-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-thanks__hero {
  margin-bottom: 2.1875rem;
}

.main-thanks__hero img {
  max-width: 80px;
}

.main-thanks__title {
  font: var(--HEADING-XL);
  letter-spacing: var(--HEADING-XL-LS);
  color: var(--DEEP-VIOLET);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.main-thanks__description {
  font: var(--HEADING-L);
  color: var(--PURPLISH-GREY);
  margin-bottom: 48px;
}

.continue-button {
  background-color: var(--DEEP-VIOLET);
  color: var(--WHITE);
  padding: 0rem 7.75rem;
  font: var(--HEADING-L);
  line-height: 53px;
  border-radius: 8px;
  border: none;
  width: 100%;
}

.continue-button:disabled {
  background-color: var(--BUTTON-DISABLED-BG);
  cursor: not-allowed;
}

/* || Desktop */
@media screen and (min-width: 992px) {
  body {
    flex-flow: row;
    gap: 0px;
    overflow: hidden;
  }

  /* || HEADER */
  .header-wrapper {
    width: 33.54%;
    height: 100vh;
    display: block;
    position: relative;
  }

  .header-container-outer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -222px;
  }

  .header-container-inner {
    margin: 0px;
    width: 541px;
    height: 527px;
  }

  /* || CARD-FRONT */
  .card-front {
    left: 0;
    bottom: 282px;
    width: 447px;
    height: 245px;
    padding: 2.4375rem 1.9912rem 1.6563rem 2rem;
    border-radius: 10px;
  }

  .brand-group {
    width: 383px;
    margin-bottom: 1.625rem;
  }

  .steward-logo img {
    max-width: 162px;
  }

  .visa-logo img {
    max-width: 74px;
  }

  .nfc-group {
    gap: 0.3125rem;
    margin-bottom: 1.625rem;
  }

  .nfc-chip img {
    max-width: 32px;
  }

  .nfc-icon img {
    max-width: 18px;
  }

  .card-number {
    font: var(--HEADING-XL);
    letter-spacing: var(--HEADING-XL-LS);
    margin-bottom: 1.5938rem;
  }

  .last-group {
    width: 383.14px;
  }

  .owner-name {
    font: var(--BODY-L);
    letter-spacing: var(--BODY-L-LS);
  }

  .expiry-date {
    font: var(--BODY-L);
    letter-spacing: var(--BODY-L-LS);
  }

  /* || CARD-BACK */
  .card-back {
    top: 282px;
    right: 0;
    width: 447px;
    height: 245px;
    border-radius: 10px;
    padding: 1.4375rem 0rem 2.9375rem;
  }

  .magnetic-strip {
    height: 54px;
    margin-bottom: 1.5rem;
  }

  .signature {
    width: 361px;
    height: 38px;
    padding-right: 1rem;
    margin-bottom: 2.0625rem;
  }

  .cvc {
    font: var(--BODY-L);
    letter-spacing: var(--BODY-L-LS);
    line-height: 38px;
  }

  .misc-pattern {
    display: block;
  }

  .misc-pattern img {
    max-width: 186px;
  }

  .globetrotter-logo {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .globetrotter-logo img {
    max-width: 298px;
  }

  .globetrotter-model {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .globetrotter-model img {
    max-width: 338px;
  }

  /* || FORM */
  .main-wrapper,
  .main-thanks-wrapper {
    margin-left: 21.8125rem;
  }

  .card-details-form {
    width: 381px;
    min-height: 410px;
    gap: 2.5rem;
  }

  .form-wrapper {
    gap: 1.625rem;
  }

  .full-name-wrapper,
  .card-num-wrapper {
    width: 381px;
  }

  .date-wrapper {
    width: 80px;
  }

  .cvc-wrapper {
    width: 191px;
  }

  .expiry-group .message {
    max-width: 170px;
  }

  .date-cvc-group {
    gap: 1.25rem;
  }

  .date-group {
    gap: 10px;
  }

  .submit-button {
    padding: 0rem 9.8125rem;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: var(--BUTTON-HOVER-BG);
  }

  .submit-button:disabled:hover {
    background-color: var(--BUTTON-DISABLED-BG);
  }

  .video-link:hover {
    color: var(--PURPLISH-GREY);
    text-decoration: none;
    cursor: pointer;
  }

  /* THANKS-HTML */
  .continue-button {
    padding: 0rem 9.4375rem;
    cursor: pointer;
  }

  .continue-button:hover {
    background-color: var(--BUTTON-HOVER-BG);
  }

  .continue-button:disabled:hover {
    background-color: var(--BUTTON-DISABLED-BG);
  }
}

/* || Ultra wide screens */
@media screen and (min-width: 1920px) {
  .globetrotter-logo img {
    max-width: calc(298px * 2);
  }

  .globetrotter-model img {
    max-width: calc(338px * 2);
  }
}
